@import "assets/styles/mixins"

.Cart
  @include inner60Center

.List
  list-style-type: none
  border-top: 1px solid #d8d8d8
  padding: 0
  margin: 40px 0 0

.Total
  display: flex
  flex-direction: column
  align-items: flex-end
  justify-content: center
  padding: 40px 0
  p
    margin: 0
    padding: 8px 0

.Summ
  font-size: 22px
  span
    font-size: 24px
    margin-left: 8px
    font-weight: 500


.Bottom
  display: flex
  justify-content: space-between