@import 'assets/styles/variables'

.Button
  overflow: hidden
  padding: 0
  width: 130px
  height: 37px
  cursor: pointer
  background-color: transparent
  border: 1px solid #CCCCCC
  border-radius: 20px
  transition: all .3s ease
  color: #666666
  &:hover
    color: #000000
    border-color: #444444
  &:active
    transform: translateY(2px)

.orange
  background-color: #E35F00
  color: #FFFFFF
  border: 1px solid #E35F00
  &:hover
    color: #E35F00
    border-color: #E35F00
    background-color: transparent
