h1
  font-weight: 500

input, textarea
  padding: 10px 15px
  border-radius: 5px
  border: 1px solid #CCCCCC
  margin: 0 5px

input:focus, textarea:focus
  outline: none
  border-color: #E35F00

textarea
    width: 100%
    min-width: 315px